{% extends "logged_layout.html" %}

{% block maincontent %}
<div id="update-password-container" class="centered-content">
    <div>
        <h4>Czy na pewno chcesz usunąć to hasło?</h4>

        <b>Nazwa hasła:</b> {{name}}
        <br />
        <b>Hasło:</b> {{value}}

        <form action="/password-management/delete" method="post">
            <input name="id" type="hidden" value="{{id}}" />
            <input name="owner" type="hidden" value="{{owner}}" />
            <input type="submit" value="Potwierdź" class="btn-input" />
        </form>
    </div>
</div>
{% endblock %}