{% extends "logged_layout.html" %}
{% block maincontent %}

<div id="passwords-container" class="container">
    <div class="passwords-title">Hasła użytkownika {{user}}</div>

    <div class="passwords-content">
        <ul>
            <li class="passwords-row">
                <div class="passwords-form-texts">
                    <div class="passwords-form-header passwords-form-name">Nazwa</div>
                    <div class="passwords-form-header passwords-form-value">Wartość hasła</div>
                    <div class="passwords-form-header passwords-form-owner">Właściciel</div>
                    <div class="clear-both"></div>
                </div>

                <div class="passwords-form-radio-btns passwords-form-action-header">
                    Akcja do wykonania
                </div>

                <div class="clear-both"></div>
            </li>

            {% for password in list_of_passwords %}
            <li class="passwords-row">
                <form action="/password-management/action" method="post">
                    <div class="passwords-form-texts">
                        <input readonly type="text" name="name" id="name" class="passwords-form-name"
                            value="{{password[0] | safe}}" />

                        <input readonly type="password" name="value" id="value" class="passwords-form-value"
                            value="{{password[1] | safe}}" />

                        <input type="text" name="owner" id="owner" class="passwords-form-owner"
                            value="{{password[2] | safe}}" />
                    </div>

                    <div class="passwords-form-radio-btns">
                        <input name="action" type="radio" id="update" value="update" checked />
                        <label for="update">Zmień</label>

                        <input name="action" type="radio" id="delete" value="delete" />
                        <label for="delete">Usuń</label>

                        <input name="action" type="radio" id="delete" value="share" />
                        <label for="share">Udostępnij...</label>
                    </div>

                    <div class="passwords-form-submit-btn">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="submit" value="Wykonaj" class="btn-input" />
                    </div>

                    <div class="clear-both"></div>
                    <input name="id" type="hidden" value="{{password[3]}}" />
                </form>


            </li>
            {% endfor %}

            {% for password in shared_passwords %}
            <li class="passwords-row">
                <form action="/shares-management/delete-as-receiver" method="post">
                    <div class="passwords-form-texts">
                        <input readonly class="passwords-form-name" value="{{password[0] | safe}}" />
                        <input readonly type="password" class="passwords-form-value" value="{{password[1] | safe}}" />
                        <input readonly class="passwords-form-owner" value="{{password[2] | safe}}" />
                    </div>

                    <div class="passwords-form-submit-btn">
                        <input name="share_id" type="hidden" value="{{password[3]}}" />
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <input type="submit" value="Usuń udostępnienie" class="btn-input" />
                    </div>

                    <div class="clear-both"></div>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="passwords-add">
        <div class="passwords-add-content">
            <h3>Dodawanie nowego hasła</h3>
            <form action="/password-management/add" method="post">
                <input type="text" name="name" placeholder="Nazwa hasła" />
                <input type="text" name="password" placeholder="Hasło" />
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="submit" value="Dodaj hasło" class="btn-input" />
            </form>
        </div>

        <div class="passwords-show-hide-btn">
            <button id="show-hide" class="btn-input" onclick="hideOrShowPasswords()">pokaż</button>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/passwords.js')}}"></script>
{% endblock %}