{% extends "logged_layout.html" %}
{% block maincontent %}
<div id="passwords-container" class="container">
    <div class="passwords-title">Hasła użytkownika {{user}}</div>

    <div class="passwords-content">
        <ul>
            <li class="passwords-row">
                <div class="passwords-form-texts">
                    <div class="passwords-form-header passwords-form-name">Nazwa</div>
                    <div class="passwords-form-header passwords-form-value">Wartość hasła</div>
                    <div class="passwords-form-header passwords-form-owner">Właściciel</div>
                    <div class="clear-both"></div>
                </div>

                <div class="passwords-form-radio-btns passwords-form-action-header">
                    Akcja do wykonania
                </div>

                <div class="clear-both"></div>
            </li>

            {% for password in list_of_passwords %}
            <li class="passwords-row">
                <form action="/password-management/action" method="post">
                    <div class="passwords-form-texts">
                        <input readonly name="name" class="passwords-form-name" value="{{password[0]}}" />
                        <input readonly name="value" class="passwords-form-value" value="{{password[1]}}" />
                        <input readonly name="owner" class="passwords-form-owner" value="{{password[2]}}" />
                    </div>

                    <div class="passwords-form-radio-btns">
                        <input name="action" type="radio" id="update" value="update" checked />
                        <label for="update">Zmień</label>

                        <input name="action" type="radio" id="delete" value="delete" />
                        <label for="delete">Usuń</label>

                        <input name="action" type="radio" id="delete" value="share" />
                        <label for="share">Udostępnij</label>
                    </div>

                    <div class="passwords-form-submit-btn">
                        <input type="submit" value="Wykonaj" class="btn-input" />
                    </div>

                    <div class="clear-both"></div>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="passwords-add">
        <div class="passwords-add-content">
            <h3>Dodawanie nowego hasła</h3>
            <form action="/password-management" method="post">
                <input type="text" name="name" placeholder="Nazwa hasła" />
                <input type="text" name="password" placeholder="Hasło" />
                <input type="submit" value="Dodaj hasło" />
            </form>
        </div>
    </div>
</div>
{% endblock %}