{% extends "layout.html" %}

{% block content %}
<div id="login-container" class="container centered-content">
    <div id="login-form" class="centered-content">
        <form action="#" method="post">
            <h1>Zmiana hasła</h1>

            <label for="new-password">Nowe hasło</label> <br />
            <input type="password" name="new-password" id="new-password" class="login-text-input" /> <br />

            <label for="repeated-new-password">Powtórz nowe hasło</label> <br />
            <input type="password" name="repeated-new-password" id="repeated-new-password" class="login-text-input" />

            <br />
            <input type="submit" value="Potwierdź" class="btn-input register-btn-input" />
        </form>
    </div>
</div>
{% endblock %}