{% extends "logged_layout.html" %}

{% block maincontent %}
<div style="margin-top: 200px;">

    nazwa hasła: {{passwords_name}} <br />

    <h4>Lista użytkowników, którym hasło jest udostępniane:</h4>
    <ul>
        {% for user in users_and_share_ids %}
        <li>
            <form action="/shares-management/delete-as-owner" method="post">
                <input readonly type="text" value="{{user[0]}}" />
                <input name="share_id" type="hidden" value="{{user[1]}}" />
                <input name="owner" type="hidden" value="{{owner}}" />
                <input type="submit" value="Usuń udostępnienie" />
            </form>
        </li>
        {% endfor %}
    </ul>

    <form action="/shares-management/add" method="post">
        <input type="hidden" name="id" value="{{passwords_id}}" />
        <input type="hidden" name="owner" value="{{owner}}" />
        <label for="username">Udostępnij hasło innemu użytkownikowi</label>
        <input type="text" name="username" id="username" />
        <input type="submit" value="Udostępnij" />
    </form>
</div>
{% endblock %}