body {
    background-color: #303030;
    color: whitesmoke;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

#index-container {
    width: 1024px;
    text-align: center;
}

.index-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 20px;
    background-color: #00611a;
    color: whitesmoke;
    font-size: 48px;
    text-decoration: none;
}

.big-header {
    font-size: 64px;
}

#login-container {
    width: 640px;
    text-align: center;
}

#login-form {
    width: 70%;
    height: 55%;
    background-color: #191919;
    border-radius: 24px;
}

#login-form form {
    width: 100%;
}

.login-text-input {
    width: 70%;
    margin-top: 4px;
    margin-bottom: 20px;
}

.btn-input {
    background-color: #00611a;
    color: whitesmoke;
    width: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    border-radius: 5px;
}

.login-btn-input {
    margin-bottom: 42px;
}

.register-btn-input {
    margin-bottom: 32px;    
}
