body {
    background-color: #303030;
    color: whitesmoke;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: absolute;
    width: 100%;
    height: 38px;
    background-color: #191919;
    top: 0;
    left: 0;
    text-align: center;
}

.navbar-container {
    margin-left: auto;
    margin-right: auto;
}

.navbar-container-logged {
    width: 512px;
}

.navbar-container-unlogged {
    width: 384px;
}

.navbar-btn {
    display: block;
    text-decoration: none;
    background-color: #00611a;
    color: whitesmoke;
    border-radius: 5px;
    width: 120px;
    margin: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

.container {
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

#index-container {
    width: 1024px;
    text-align: center;
}

.index-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 20px;
    background-color: #00611a;
    color: whitesmoke;
    font-size: 48px;
    text-decoration: none;
}

.big-header {
    font-size: 64px;
}

#login-container {
    width: 640px;
    text-align: center;
}

#login-form {
    width: 70%;
    height: 48%;
    background-color: #191919;
    border-radius: 24px;
}

#login-form form {
    width: 100%;
}

.login-text-input {
    width: 70%;
    margin-top: 4px;
    margin-bottom: 20px;
}

.btn-input {
    background-color: #00611a;
    color: whitesmoke;
    min-width: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn-input {
    margin-bottom: 42px;
}

.register-btn-input {
    margin-bottom: 32px;    
}

.clear-both {
    clear: both;
}

#error-container {
    background-color: #191919;
    width: 448px;
    min-height: 200px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    text-align: center;
}

#error-content{
    width: 90%;
    height: 100%;
}

.error-btn {
    background-color: #00611a;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    padding: 4px;
}

#passwords-container {
    width: 900px;
    height: 600px;
    margin-top: 80px;
    background-color: #191919;
    border-radius: 24px;
}

.passwords-title {
    width: 100%;
    height: 8%;
    text-align: center;
    font-size: 36px;
    padding-top: 2%;
    border-bottom: 1px solid black;
}

.passwords-content {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    text-align: left;
}

.passwords-add {
    width: 100%;
    height: 20%;
    border-top: 1px solid black;
}

.passwords-add-content {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}

li.passwords-row {
    margin-bottom: 16px;
    list-style-type: none;
}

.passwords-form-header {
    font-size: 18px;
    margin-right: 13px;
    float: left;
}

.passwords-form-action-header {
    font-size: 18px;
}

.passwords-form-texts {
    float: left;
}

.passwords-form-texts input {
    background-color: inherit;
    color: inherit;
    border: none; 
    padding: 4px;
}

.passwords-form-name {
    width: 120px;
}

.passwords-form-value {
    width: 180px;
}

.passwords-form-owner {
    width: 120px;
}

.passwords-form-radio-btns {
    width: 260px;
    margin-left: 15px;
    float: left;
}

.passwords-form-submit-btn {
    float: left;
}

#update-password-container {
    width: 480px;
    height: 400px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #191919;
    border-radius: 24px;
}
