body {
    background-color: #303030;
    color: whitesmoke;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: absolute;
    width: 100%;
    height: 38px;
    background-color: #191919;
    top: 0;
    left: 0;
    text-align: center;
}

.navbar-container {
    width: 384px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-btn {
    display: block;
    text-decoration: none;
    background-color: #00611a;
    color: whitesmoke;
    border-radius: 5px;
    width: 120px;
    margin: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

.container {
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

#index-container {
    width: 1024px;
    text-align: center;
}

.index-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 20px;
    background-color: #00611a;
    color: whitesmoke;
    font-size: 48px;
    text-decoration: none;
}

.big-header {
    font-size: 64px;
}

#login-container {
    width: 640px;
    text-align: center;
}

#login-form {
    width: 70%;
    height: 48%;
    background-color: #191919;
    border-radius: 24px;
}

#login-form form {
    width: 100%;
}

.login-text-input {
    width: 70%;
    margin-top: 4px;
    margin-bottom: 20px;
}

.btn-input {
    background-color: #00611a;
    color: whitesmoke;
    width: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn-input {
    margin-bottom: 42px;
}

.register-btn-input {
    margin-bottom: 32px;    
}

.clear-both {
    clear: both;
}

#error-container {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
